body {
    margin: 0 !important;
    background-color: black;
    font-family: Futura;
}

:root {
    -webkit-scroll-snap-type: y mandatory;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

section {
    scroll-snap-align: start;
    height: 100vh;
    /*background-color: red;*/
    /*border: 10px solid white;*/
}

@font-face {
    font-family: Futura;
    src: url("assets/fonts/Futura Book font.ttf");
}

.cover {
    width: 100vw;
    /*height: 100vh;*/
    margin-top: -2.5em;
    position: absolute;
    object-fit: cover;
    z-index: 5;
    pointer-events:none;
    /*display: none;*/
}

@keyframes imageFade {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes smoothUp {
    0% {transform: translateY(0em);}
    100% {transform: translateY(-1em);}
}

@keyframes upMovement {
    0% {transform: translateY(0em);}
    50% {transform: translateY(-1em);}
    100% {transform: translateY(0em);}
}

.arrow-container-mid {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    position: absolute;
    width: 100vw;
    height: 2em;
    z-index: 300;
}

.arrow-container-mid img {
    animation: upMovement 1s infinite;
    margin-left: auto;
    margin-right: auto;
}

.arrow-container-left {
    transition: all 1s ease;
    cursor: pointer;
    display: flex;
    width: 2em;
    height: 2em;
    z-index: 300;
    position: sticky;
    top: 90vh;
    margin-left: -2vw;
}


.landing {
    height: 100vh;
}

.victim-container {
    /*transition: all 3s ease;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    height: 100vh;
}

.victims-img {
    transition: all 1s ease;
    filter: grayscale(100%);
    padding: 0;
    margin: 0;
    width: 33.3%;
    /*max-height: 23em;*/
    height: 50vh;
    object-fit: cover;
    /*mix-blend-mode: screen;*/
    z-index: 1;
}

.victims-img:hover {
    opacity: 0;
}

.victim-text {
    width: 33%;
    height: 50vh;
    color: white;
    margin-top: -100vh;
    font-family: Futura;
    z-index: -1;
}

.victim-text h1 {
    text-align: center;
    font-size: 3em;
    padding-top: 1em;
 }

.victim-text p {
    text-align: center;
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
}

/*.victims-img:nth-child(1) {*/
/*    animation: imageFade 3s;*/
/*    animation-delay: 0s, 12s;*/
/*}*/

/*.victims-img:nth-child(2) {*/
/*    animation: imageFade 3s;*/
/*    animation-delay: 2s, 14s;*/
/*}*/

/*.victims-img:nth-child(3) {*/
/*    animation: imageFade 3s;*/
/*    animation-delay: 4s, 16s;*/
/*}*/

/*.victims-img:nth-child(4) {*/
/*    animation: imageFade 3s;*/
/*    animation-delay: 6s, 18s;*/
/*}*/

/*.victims-img:nth-child(5) {*/
/*    animation: imageFade 3s;*/
/*    animation-delay: 8s, 20s;*/
/*}*/

/*.victims-img:nth-child(6) {*/
/*    animation: imageFade 3s;*/
/*    animation-delay: 10s, 20s;*/
/*}*/

.main-title {
    transition: all 3s ease;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25vh;
    margin-bottom: 5em;
    width: 80%;
    color: white;
    /*font-size: 2.7em;*/
    font-family: Futura;
    display: flex;
    flex-direction: column;
    /*border: 5px solid #f8ef2a;*/
    /*padding: 1em 1em 1em 1em;*/
}

.main-title h1 {
    border: 5px solid #f8ef2a;
    padding: 1em 1em 1em 1em;
    font-size: 2.7em;
    color: white;
    margin-top: 40vh;
}

.p-1 {
    transition: all 3s ease;
    display: flex;
    flex-direction: column-reverse;
    padding: 1em;
    /*background-color: white;*/
    /*color: white;*/
    width: 50vw;
    color: black;
    margin-left: auto;
    margin-right: auto;
    /*margin-top: 25vh;*/
    /*font-family: "Georgia",serif;*/
    padding-top: 25vh;
}

.p-1 img {
    width: 20vw;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    border-radius: 200px;
}

.text-block {
    background-color: white;
    /*padding: 1em;*/
    padding: 0em 1em 1em 1em;
    margin: 1em;
    height: 8em;
    box-shadow: 7px 7px 0px 0px rgba(248,239,42,1);
}

.opacity-0 {
    transition: all 3s ease;
    opacity: 0;
}

.smoothUpTransition {
    animation: smoothUp 1s ease;
    animation-fill-mode: forwards;
}

.red {
    transition: 6s ease;
    opacity: 1 !important;
    color: #f8ef2a !important;
}

.floyd {
    /*color: black;*/
    /*opacity: 0;*/
    /*padding-top: 2em;*/
    /*transition: all 5s ease;*/
    /*text-align: center;*/
    /*font-size: 2em;*/
    margin-top: -2.2em;
    margin-left: 22em;
    /*font-family: "Georgia",serif;*/
}

.optelsom-container {
    transition: all 1s ease;
    display: flex;
    flex-direction: column;
    margin-top: 25vh;
    /*margin-top: 10em;*/
}

.optelsom-title {
    border: 5px solid #f8ef2a;
    padding: 1em 1em 1em 1em;
    font-family: Futura;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 15em;
    color: white;
    margin-bottom: 5em;
    margin-top: 25vh;
}

.optelsom {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: Futura;
}

.optelsom p {
    /*color: white;*/
    background-color: white;
    box-shadow: 7px 7px 0px 0px rgba(248,239,42,1);
    max-width: 10em;
    font-size: 1.2em;
    padding: 1em;
}

.plus {
    margin-top: 0em;
    font-size: 3em !important;
    color: #f8ef2a !important;
    font-weight: bold;
    background: none !important;
    box-shadow: none !important;
}

.riot {
    transition: all 1s ease;
    /*margin-top: 10em;*/
    /*position: sticky;*/
    top: 0;
}

.riot p {
    position: absolute;
    right: 0;
    /*padding-right: 2em;*/
    /*padding-top: 2em;*/
    padding: 1em;
    margin: 1em 1em 1em 1em;
    background-color: white;
    color: black;
    width: 20em;
    font-size: 1.2em;
    /*color: white;*/
    /*font-family: Futura;*/
    /*font-family: "Georgia",serif;*/
    box-shadow: 7px 7px 0px 0px rgba(248,239,42,1);
}

.riot img {
    transition: all 1s ease;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.sticky {
    position: sticky;
}

.blm-container {
    transition: all 1s ease;
    display: flex;
    flex-direction: column;
    /*margin-top: 10em;*/
    height: 100vh;
    /*font-family: "Georgia",serif;*/
}

.blm-container-intro {
    display: flex;
    flex-direction: row;
}

.blm-container-intro svg {
    height: 100vh;
    /*margin-top: -5em;*/
}

.blm-container-intro-text {
    display: flex;
    flex-direction: column;
}

.blm-container-intro p {
    background-color: white;
    padding: 1em;
    margin: 1em 2em 1em 5em;
    opacity: 0;
    box-shadow: 7px 7px 0px 0px rgba(248,239,42,1);
    /*max-height: 5em;*/
}

.blm-text-block-1 {
    transition: all 1s ease;
}

.blm-text-block-2 {
    transition: all 3s ease;
}

.blm-text-block-3 {
    transition: all 6s ease;
}

.blm-text-block-4 {
    transition: all 9s ease;
}

.visible-text {
    opacity: 1 !important;
}

.demonstratie-container {
    transition: all 1s ease;
    display: flex;
    flex-direction: row;
    /*margin-top: 10em;*/
    padding-top: 10vh;
    margin-left: 5em;
}

.demonstratie-container p {
    padding: 1em;
    margin: 1em 1em;
    background-color: white;
    box-shadow: 7px 7px 0px 0px rgba(248,239,42,1);
}

.demonstratie-container-text {
    display: flex;
    flex-direction: column;
}

.demonstratie-container img {
    border-radius: 10px;
}

.sticky-container {
    display: flex;
    flex-direction: row;
    /*margin-top: 10em;*/
}

.sticky-text {
    color: white;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    margin-top: 10vh;
}

.sticky-test::-webkit-scrollbar {
    display: none;
}

.sticky-text p {
    margin-bottom: 20em;
    background-color: white;
    color: black;
    box-shadow: 7px 7px 0px 0px rgba(248,239,42,1);
    margin: 0em 5em 2em 7em;
    padding: 1em;
}

.sticky-img {
    height: 100vh;
    position: sticky;
    top: 0;
    margin-top: 10vh;
}

.patrice-text{
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: space-between;
    width: 100vw;
}

.mid-title {
    transition: all 1s ease;
    border: 5px solid #f8ef2a;
    padding: 0em 1em 0em 1em;
    font-size: 2.7em;
    color: white;
    margin-top: 40vh;
    max-height: 25vh;
    font-family: Futura;
    cursor: pointer;
}

.mid-title:hover {
    background-color: #f8ef2a;
    color: black;
}

.small-text {
    font-size: 0.4em;
    text-align: center;
    /*margin-top: -2em;*/
}

.patrice-text-block {
    background-color: white;
    color: black;
    box-shadow: 7px 7px 0px 0px rgba(248,239,42,1);
    /*margin: 0em 5em 2em 7em;*/
    padding: 1em;
    width: 20vw;
    margin-left: 5em;
    margin-right: 5em;
    /*position: absolute;*/
}

.patrice-text-side {
    transition: all 1s ease;
    flex-direction: column;
    overflow-y: hidden;
    height: 100vh;
}

.patrice img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.love-child-container {
    display: flex;
    flex-direction: row;
    margin-left: 5em;
}

.love-child-container p {
    color: black;
    width: 30vw;
    padding: 1em;
    background-color: white;
    box-shadow: 7px 7px 0px 0px rgba(248,239,42,1);
    margin: 1em;
    flex-shrink: unset;
    max-height: 21vh;
}

.love-child-images {
    flex-direction: column;
    width: 100vw;
}

.love-child-bottom-container {
    display: flex;
    flex-direction: column;
}

.love-child-bottom-container p {
    margin-left: auto;
    margin-right: auto;
}

.love-child-bottom-row-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.love-child-bottom-row-img img {
    width: 5em;
    height: 5em;
    margin: 2em;
    padding: 1em;
    background-color: white;
    box-shadow: 7px 7px 0px 0px rgba(248,239,42,1);
    object-fit: scale-down;
    cursor: pointer;
    transition: all 0.5s ease;
}

.love-child-bottom-row-img img:hover {
    box-shadow: 7px 7px 0px 0px orangered;
}

.love-child-top-img img {
    width: 20vw;
    height: 20vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}

.love-child-top-img {
    display: flex;
}

/*LEADERS*/

.leaders-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    /*margin-left: 5em;*/
}

.leaders-images {
    display: flex;
    flex-direction: row;
    margin-top: 40vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -2vh;
}

.leaders-images img {
    width: 10em;
    object-fit: cover;
    transition: all 2s ease;
}

.leaders-text p {
    color: black;
    padding: 1em;
    background-color: white;
    box-shadow: 7px 7px 0px 0px rgba(248,239,42,1);
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
}

.leaders-text {
    width: 100vw;
    margin-left: 24vw;
}

#leader-1 {
    margin-right: -4em;
    z-index: 10;
    /*opacity: 0.6;*/
}

#leader-2 {
    z-index: 25;
    /*opacity: 0.8;*/
}

#leader-3 {
    margin-left: -2em;
    margin-right: -2em;
    z-index: 50;
}

#leader-4 {
    z-index: 24;
    /*opacity: 0.8;*/
}

#leader-5 {
    margin-left: -4em;
    z-index: 9;
    /*opacity: 0.6;*/
}

.leaders-background-img img {
    transition: all 3s ease;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
}

.leaders-background-img {
    transition: all 3s ease;
}

.leaders-section {
    width: 100vw;
    height: 100vh;
}

